<ul class="collection with-header">
    <li class="collection-header" style="
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        ">
        <h3>Reviews</h3>
        <a href="addexperience" class="btn-floating btn-large waves-effect waves-light red">
            <i class="material-icons">add</i>
        </a>
    </li>
    {{#each reviews}}
    <li class="collection-item">
        <div style="display: inline-block;">
            <h4 style="display: inline-block;">
                <b>{{this.createdByName}}</b> <br/>
                {{this.experience.at.name}}
                {{this.experience.when}}
            </h4>
            <h5>
                <i class="material-icons">star</i>
                {{this.score}}
            </h5>
            <h5>
                <i class="material-icons">restaurant</i>
                {{this.mealName}}
               
            </h5>
            <blockquote>
                {{this.note}}
            </blockquote>
         </div> 
        <a href="editexperience/{{this.id}}" class="secondary-content">Edit</a>
    </li>
    {{/each}}
</ul>