<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restuaranteer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body class="">
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="/places">PLACES</a></li>
        <li><a href="/experiences">EXPERIENCES</a></li>
        <li>
            <form action="/logout" method="POST">
                <button style="margin-left: 15px" class="btn red waves-effect" name="action"type="submit">
                    LOGOUT
                </button>
            </form>
        </li>
    </ul>
    <nav>
        <div class="nav-wrapper blue lighten-2" style="padding-left: 10px;">
            <a href="/home" class="left brand-logo">Restuaranteer.io</a>

            <ul id="nav-mobile" class="right hide-on-med-and-down">
                {{#if user}}
                <li><a href="/places">PLACES</a></li>
                <li><a href="/experiences">EXPERIENCES</a></li>
                <li>
                    <form action="/logout" method="POST">
                        <button style="margin-right: 10px" class="btn red waves-effect" name="action"
                            type="submit">LOGOUT</button>
                    </form>
                </li>
                {{else}}
                <li><a href="/register">REGISTER</a></li>
                <li><a href="/login">LOGIN</a></li>
                {{/if}}
            </ul>
            <ul id="nav-mobile" class="right hide-on-large-only">
                <a style="width: 150px" class='right dropdown-trigger' href='#' data-target='dropdown1'>
                    <i class="right material-icons">menu</i>
                </a>
            </ul>
        </div>
    </nav>
    <div style="padding: 2px 5px" class="grey lighten-2">
        <p class="red-text" style="margin: 0 5px 0 0;">USERID: {{user.id}}</p>
        <p class="red-text" style="margin: 0;">NAME: {{user.name}}</p>
    </div>
    <div class="section">
        <div class="container">
            {{#if errors}}
            <div class="red-text">
                <div class="container">
                    <h3>Error</h3>
                    {{#each errors}}
                    <div class="chip red-text">{{this}}</div>
                    {{/each}}
                </div>
            </div>
            {{/if}}
            {{#if msg}}
            <div class="blue-text">
                <div class="container">
                    <p class="">{{msg}}</p>
                </div>
            </div>
            {{/if}}
            {{{body}}}
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] +
            ':35729/livereload.js?snipver=1"></' + 'script>')
    </script>
    <script>M.AutoInit();</script>
</body>

</html>